body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  font-size: 14px;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  min-width: 1024px;
}
h1 {
  font-size: 214%;
  font-family: Cambria, Georgia, serif;
  fornt-weight: bold;
}
h2 {
  font-size: 171%;
  font-family: Cambria, Georgia, serif;
  fornt-weight: bold;
}
h3 {
  font-size: 129%;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  fornt-weight: bold;
}
nav > ul,
ul.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px 10px;
}
nav > ul > li,
ul.nav > li {
  display: inline;
}
nav > ul > li > a,
ul.nav > li > a {
  padding: 3px 15px;
}
input[type=submit],
button.default,
a.button.default {
  cursor: pointer;
  background-image: linear-gradient(top, #00964b, #006231);
  background-image: -o-linear-gradient(top, #00964b, #006231);
  background-image: -ms-linear-gradient(top, #00964b, #006231);
  background-image: -moz-linear-gradient(top, #00964b, #006231);
  background-image: -webkit-linear-gradient(top, #00964b, #006231);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00964b), color-stop(1, #006231));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00964b, endColorstr=#006231)";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px -1px #006d36;
  -webkit-box-shadow: 1px 1px 5px -1px #006d36;
  box-shadow: 1px 1px 5px -1px #006d36;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 3px;
  border: solid 1px #00773b;
  outline: none;
}
input[type=submit]:hover,
button.default:hover,
a.button.default:hover {
  background-image: linear-gradient(top, #00af58, #007c3e);
  background-image: -o-linear-gradient(top, #00af58, #007c3e);
  background-image: -ms-linear-gradient(top, #00af58, #007c3e);
  background-image: -moz-linear-gradient(top, #00af58, #007c3e);
  background-image: -webkit-linear-gradient(top, #00af58, #007c3e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00af58), color-stop(1, #007c3e));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00af58, endColorstr=#007c3e)";
  color: #fff;
}
input[type=submit]:visited,
button.default:visited,
a.button.default:visited {
  color: #fff;
}
input[type=submit]:active,
button.default:active,
a.button.default:active {
  background-image: linear-gradient(top, #00964b, #006231);
  background-image: -o-linear-gradient(top, #00964b, #006231);
  background-image: -ms-linear-gradient(top, #00964b, #006231);
  background-image: -moz-linear-gradient(top, #00964b, #006231);
  background-image: -webkit-linear-gradient(top, #00964b, #006231);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00964b), color-stop(1, #006231));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00964b, endColorstr=#006231)";
}
input[type=submit]:before,
button.default:before,
a.button.default:before {
  margin-top: -10px;
  margin-bottom: -10px;
}
input[type=button],
button,
a.button {
  cursor: pointer;
  background-image: linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -o-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -ms-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -moz-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -webkit-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eaeaea), color-stop(1, #d0d0d0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#d0d0d0)";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px -1px #d5d5d5;
  -webkit-box-shadow: 1px 1px 5px -1px #d5d5d5;
  box-shadow: 1px 1px 5px -1px #d5d5d5;
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 3px;
  border: solid 1px #dadada;
  outline: none;
}
input[type=button]:hover,
button:hover,
a.button:hover {
  background-image: linear-gradient(top, #f7f7f7, #dddddd);
  background-image: -o-linear-gradient(top, #f7f7f7, #dddddd);
  background-image: -ms-linear-gradient(top, #f7f7f7, #dddddd);
  background-image: -moz-linear-gradient(top, #f7f7f7, #dddddd);
  background-image: -webkit-linear-gradient(top, #f7f7f7, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #dddddd));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f7, endColorstr=#dddddd)";
  color: #000;
}
input[type=button]:visited,
button:visited,
a.button:visited {
  color: #000;
}
input[type=button]:active,
button:active,
a.button:active {
  background-image: linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -o-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -ms-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -moz-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -webkit-linear-gradient(top, #eaeaea, #d0d0d0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eaeaea), color-stop(1, #d0d0d0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#d0d0d0)";
}
input[type=button]:before,
button:before,
a.button:before {
  margin-top: -10px;
  margin-bottom: -10px;
}
input[type=button].map,
button.map,
a.button.map {
  cursor: pointer;
  background-image: linear-gradient(top, #ec645a, #e63a2c);
  background-image: -o-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -ms-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -moz-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -webkit-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ec645a), color-stop(1, #e63a2c));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ec645a, endColorstr=#e63a2c)";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px -1px #e74235;
  -webkit-box-shadow: 1px 1px 5px -1px #e74235;
  box-shadow: 1px 1px 5px -1px #e74235;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 3px;
  border: solid 1px #e84b3e;
  outline: none;
}
input[type=button].map:before,
button.map:before,
a.button.map:before {
  background-color: #515151;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
input[type=button].map:hover,
button.map:hover,
a.button.map:hover {
  background-image: linear-gradient(top, #ee7a71, #e94f43);
  background-image: -o-linear-gradient(top, #ee7a71, #e94f43);
  background-image: -ms-linear-gradient(top, #ee7a71, #e94f43);
  background-image: -moz-linear-gradient(top, #ee7a71, #e94f43);
  background-image: -webkit-linear-gradient(top, #ee7a71, #e94f43);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ee7a71), color-stop(1, #e94f43));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ee7a71, endColorstr=#e94f43)";
  color: #fff;
}
input[type=button].map:visited,
button.map:visited,
a.button.map:visited {
  color: #fff;
}
input[type=button].map:active,
button.map:active,
a.button.map:active {
  background-image: linear-gradient(top, #ec645a, #e63a2c);
  background-image: -o-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -ms-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -moz-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -webkit-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ec645a), color-stop(1, #e63a2c));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ec645a, endColorstr=#e63a2c)";
}
input[type=button].map:before,
button.map:before,
a.button.map:before {
  margin-top: -10px;
  margin-bottom: -10px;
}
input[type=button].community,
button.community,
a.button.community,
input[type=button].communities,
button.communities,
a.button.communities {
  cursor: pointer;
  background-image: linear-gradient(top, #f49e60, #f08030);
  background-image: -o-linear-gradient(top, #f49e60, #f08030);
  background-image: -ms-linear-gradient(top, #f49e60, #f08030);
  background-image: -moz-linear-gradient(top, #f49e60, #f08030);
  background-image: -webkit-linear-gradient(top, #f49e60, #f08030);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f49e60), color-stop(1, #f08030));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f49e60, endColorstr=#f08030)";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px -1px #f1863a;
  -webkit-box-shadow: 1px 1px 5px -1px #f1863a;
  box-shadow: 1px 1px 5px -1px #f1863a;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 3px;
  border: solid 1px #f28c43;
  outline: none;
}
input[type=button].community:before,
button.community:before,
a.button.community:before,
input[type=button].communities:before,
button.communities:before,
a.button.communities:before {
  background-color: #515151;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
input[type=button].community:hover,
button.community:hover,
a.button.community:hover,
input[type=button].communities:hover,
button.communities:hover,
a.button.communities:hover {
  background-image: linear-gradient(top, #f5ac78, #f28f48);
  background-image: -o-linear-gradient(top, #f5ac78, #f28f48);
  background-image: -ms-linear-gradient(top, #f5ac78, #f28f48);
  background-image: -moz-linear-gradient(top, #f5ac78, #f28f48);
  background-image: -webkit-linear-gradient(top, #f5ac78, #f28f48);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5ac78), color-stop(1, #f28f48));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5ac78, endColorstr=#f28f48)";
  color: #fff;
}
input[type=button].community:visited,
button.community:visited,
a.button.community:visited,
input[type=button].communities:visited,
button.communities:visited,
a.button.communities:visited {
  color: #fff;
}
input[type=button].community:active,
button.community:active,
a.button.community:active,
input[type=button].communities:active,
button.communities:active,
a.button.communities:active {
  background-image: linear-gradient(top, #f49e60, #f08030);
  background-image: -o-linear-gradient(top, #f49e60, #f08030);
  background-image: -ms-linear-gradient(top, #f49e60, #f08030);
  background-image: -moz-linear-gradient(top, #f49e60, #f08030);
  background-image: -webkit-linear-gradient(top, #f49e60, #f08030);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f49e60), color-stop(1, #f08030));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f49e60, endColorstr=#f08030)";
}
input[type=button].community:before,
button.community:before,
a.button.community:before,
input[type=button].communities:before,
button.communities:before,
a.button.communities:before {
  margin-top: -10px;
  margin-bottom: -10px;
}
input[type=button].place,
button.place,
a.button.place,
input[type=button].places,
button.places,
a.button.places {
  cursor: pointer;
  background-image: linear-gradient(top, #974ea6, #773e84);
  background-image: -o-linear-gradient(top, #974ea6, #773e84);
  background-image: -ms-linear-gradient(top, #974ea6, #773e84);
  background-image: -moz-linear-gradient(top, #974ea6, #773e84);
  background-image: -webkit-linear-gradient(top, #974ea6, #773e84);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #974ea6), color-stop(1, #773e84));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#974ea6, endColorstr=#773e84)";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px -1px #7e418b;
  -webkit-box-shadow: 1px 1px 5px -1px #7e418b;
  box-shadow: 1px 1px 5px -1px #7e418b;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 3px;
  border: solid 1px #844492;
  outline: none;
}
input[type=button].place:before,
button.place:before,
a.button.place:before,
input[type=button].places:before,
button.places:before,
a.button.places:before {
  background-color: #515151;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
input[type=button].place:hover,
button.place:hover,
a.button.place:hover,
input[type=button].places:hover,
button.places:hover,
a.button.places:hover {
  background-image: linear-gradient(top, #a35cb2, #874695);
  background-image: -o-linear-gradient(top, #a35cb2, #874695);
  background-image: -ms-linear-gradient(top, #a35cb2, #874695);
  background-image: -moz-linear-gradient(top, #a35cb2, #874695);
  background-image: -webkit-linear-gradient(top, #a35cb2, #874695);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a35cb2), color-stop(1, #874695));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a35cb2, endColorstr=#874695)";
  color: #fff;
}
input[type=button].place:visited,
button.place:visited,
a.button.place:visited,
input[type=button].places:visited,
button.places:visited,
a.button.places:visited {
  color: #fff;
}
input[type=button].place:active,
button.place:active,
a.button.place:active,
input[type=button].places:active,
button.places:active,
a.button.places:active {
  background-image: linear-gradient(top, #974ea6, #773e84);
  background-image: -o-linear-gradient(top, #974ea6, #773e84);
  background-image: -ms-linear-gradient(top, #974ea6, #773e84);
  background-image: -moz-linear-gradient(top, #974ea6, #773e84);
  background-image: -webkit-linear-gradient(top, #974ea6, #773e84);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #974ea6), color-stop(1, #773e84));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#974ea6, endColorstr=#773e84)";
}
input[type=button].place:before,
button.place:before,
a.button.place:before,
input[type=button].places:before,
button.places:before,
a.button.places:before {
  margin-top: -10px;
  margin-bottom: -10px;
}
input[type=button].project,
button.project,
a.button.project,
input[type=button].projects,
button.projects,
a.button.projects {
  cursor: pointer;
  background-image: linear-gradient(top, #a6754d, #845d3d);
  background-image: -o-linear-gradient(top, #a6754d, #845d3d);
  background-image: -ms-linear-gradient(top, #a6754d, #845d3d);
  background-image: -moz-linear-gradient(top, #a6754d, #845d3d);
  background-image: -webkit-linear-gradient(top, #a6754d, #845d3d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a6754d), color-stop(1, #845d3d));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a6754d, endColorstr=#845d3d)";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px -1px #8b6240;
  -webkit-box-shadow: 1px 1px 5px -1px #8b6240;
  box-shadow: 1px 1px 5px -1px #8b6240;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin: 3px;
  border: solid 1px #926743;
  outline: none;
}
input[type=button].project:before,
button.project:before,
a.button.project:before,
input[type=button].projects:before,
button.projects:before,
a.button.projects:before {
  background-color: #515151;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
input[type=button].project:hover,
button.project:hover,
a.button.project:hover,
input[type=button].projects:hover,
button.projects:hover,
a.button.projects:hover {
  background-image: linear-gradient(top, #b3825a, #956945);
  background-image: -o-linear-gradient(top, #b3825a, #956945);
  background-image: -ms-linear-gradient(top, #b3825a, #956945);
  background-image: -moz-linear-gradient(top, #b3825a, #956945);
  background-image: -webkit-linear-gradient(top, #b3825a, #956945);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b3825a), color-stop(1, #956945));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3825a, endColorstr=#956945)";
  color: #fff;
}
input[type=button].project:visited,
button.project:visited,
a.button.project:visited,
input[type=button].projects:visited,
button.projects:visited,
a.button.projects:visited {
  color: #fff;
}
input[type=button].project:active,
button.project:active,
a.button.project:active,
input[type=button].projects:active,
button.projects:active,
a.button.projects:active {
  background-image: linear-gradient(top, #a6754d, #845d3d);
  background-image: -o-linear-gradient(top, #a6754d, #845d3d);
  background-image: -ms-linear-gradient(top, #a6754d, #845d3d);
  background-image: -moz-linear-gradient(top, #a6754d, #845d3d);
  background-image: -webkit-linear-gradient(top, #a6754d, #845d3d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a6754d), color-stop(1, #845d3d));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a6754d, endColorstr=#845d3d)";
}
input[type=button].project:before,
button.project:before,
a.button.project:before,
input[type=button].projects:before,
button.projects:before,
a.button.projects:before {
  margin-top: -10px;
  margin-bottom: -10px;
}
a {
  cursor: pointer;
  transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  color: #14636e;
  background-color: transparent;
  text-decoration: underline;
}
a.hover,
a:hover {
  color: #14636e;
  background-color: #b1dde8;
}
a.visited,
a:visited {
  color: #004047;
  background-color: transparent;
}
.upper-bar {
  float: right;
  text-align: right;
  margin: 5px;
}
.upper-bar form.search,
.upper-bar ul.nav {
  display: inline-block;
}
header.main {
  background-color: #dceff4;
  margin-bottom: 50px;
}
header.main > .content {
  background: #dceff4;
}
header.main .logo {
  background-color: #515151;
  overflow: hidden;
  margin: 15px 7px 5px;
}
header.main .logo,
header.main .logo > a {
  display: inline-block;
  width: 105px;
  height: 45px;
}
header.main .logo a,
header.main .logo a:hover,
header.main .logo a:visited,
header.main .logo a:active {
  color: transparent;
  background-color: transparent;
}
header.main nav {
  text-align: center;
  /* Active items */

}
header.main nav a {
  background-color: transparent;
}
header.main nav a:hover {
  background-color: transparent;
}
header.main nav > ul > li {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  display: inline-block;
  /* Submenu */

  /* Number of submenu items */

}
header.main nav > ul > li > a {
  transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -webkit-transition: all 0s ease 0s;
  display: inline-block;
  color: #515151;
  text-decoration: none;
  line-height: 24px;
  padding: 9px 20px;
  min-width: 140px;
  outline: none;
}
header.main nav > ul > li > a:before {
  background-color: #515151;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main nav > ul > li > a:active {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
header.main nav > ul > li:hover > a {
  display: inline-block;
  text-shadow: 0px 0px 8px #666666;
  color: #000000;
}
header.main nav > ul > li:hover > a:before {
  background-color: #515151;
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main nav > ul > li.active {
  /* Creates the bottom arrow */

  /* Collapsed submenu */

}
header.main nav > ul > li.active:hover > a,
header.main nav > ul > li.active > a {
  color: #ffffff;
  text-shadow: 0px 0px 0px transparent;
}
header.main nav > ul > li.active:after {
  content: '';
  display: block;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  width: 0px;
  height: 0px;
  margin: -10px auto 0px;
  z-index: 2;
  position: relative;
}
header.main nav > ul > li.active > ul {
  height: 30px;
}
header.main nav > ul > li > ul {
  -moz-box-shadow: 0px 0px 10px -2px #999999;
  -webkit-box-shadow: 0px 0px 10px -2px #999999;
  box-shadow: 0px 0px 10px -2px #999999;
  transition: height 0.2s ease 1s;
  -moz-transition: height 0.2s ease 1s;
  -webkit-transition: height 0.2s ease 1s;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  background: #fad7d7;
  min-width: 160px;
  padding: 0px 10px;
  position: absolute;
  overflow: hidden;
  height: 0;
  z-index: 10;
}
header.main nav > ul > li > ul > li {
  transition: all 1s ease 1s;
  -moz-transition: all 1s ease 1s;
  -webkit-transition: all 1s ease 1s;
  text-align: left;
  opacity: 0;
  height: 0;
  list-style: none;
  /* Submenu items */

}
header.main nav > ul > li > ul > li a {
  padding: 3px 0 7px;
  margin: 2px 0;
  width: 100%;
  text-decoration: none;
}
header.main nav > ul > li > ul > li a:hover {
  text-shadow: 0px 0px 8px #666666;
}
header.main nav > ul > li > ul > li.needs a {
  display: inline-block;
}
header.main nav > ul > li > ul > li.needs a:before {
  background-color: #515151;
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main nav > ul > li > ul > li.organizations a {
  display: inline-block;
}
header.main nav > ul > li > ul > li.organizations a:before {
  background-color: #515151;
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main nav > ul > li > ul > li.resources a {
  display: inline-block;
}
header.main nav > ul > li > ul > li.resources a:before {
  background-color: #515151;
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main nav > ul > li > ul > li.investments a {
  display: inline-block;
}
header.main nav > ul > li > ul > li.investments a:before {
  background-color: #515151;
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main nav > ul > li.active > ul > li.active,
header.main nav > ul > li:hover > ul > li {
  transition: all 0.2s ease 0.1s;
  -moz-transition: all 0.2s ease 0.1s;
  -webkit-transition: all 0.2s ease 0.1s;
  opacity: 1;
  height: 30px;
}
header.main nav > ul > li.active > ul > li {
  text-align: center;
}
header.main nav > ul > li:hover > ul {
  transition: height 0.2s ease 0s;
  -moz-transition: height 0.2s ease 0s;
  -webkit-transition: height 0.2s ease 0s;
  height: 130px;
  display: block;
}
header.main nav > ul > li.has-submenu:hover > ul {
  /* Add delay to items with submenus to prevent issue with
                    the delay when submenu vanish */

  transition: height 0.2s ease 0.1s;
  -moz-transition: height 0.2s ease 0.1s;
  -webkit-transition: height 0.2s ease 0.1s;
}
header.main nav > ul > li.has-submenu:after {
  border-bottom-color: #fad7d7;
}
header.main nav .map.active {
  background-image: linear-gradient(top, #ec645a, #e63a2c);
  background-image: -o-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -ms-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -moz-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -webkit-linear-gradient(top, #ec645a, #e63a2c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ec645a), color-stop(1, #e63a2c));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ec645a, endColorstr=#e63a2c)";
}
header.main nav .communities.active {
  background-image: linear-gradient(top, #f49e60, #f08030);
  background-image: -o-linear-gradient(top, #f49e60, #f08030);
  background-image: -ms-linear-gradient(top, #f49e60, #f08030);
  background-image: -moz-linear-gradient(top, #f49e60, #f08030);
  background-image: -webkit-linear-gradient(top, #f49e60, #f08030);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f49e60), color-stop(1, #f08030));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f49e60, endColorstr=#f08030)";
}
header.main nav .places.active {
  background-image: linear-gradient(top, #974ea6, #773e84);
  background-image: -o-linear-gradient(top, #974ea6, #773e84);
  background-image: -ms-linear-gradient(top, #974ea6, #773e84);
  background-image: -moz-linear-gradient(top, #974ea6, #773e84);
  background-image: -webkit-linear-gradient(top, #974ea6, #773e84);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #974ea6), color-stop(1, #773e84));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#974ea6, endColorstr=#773e84)";
}
header.main nav .projects.active {
  background-image: linear-gradient(top, #a6754d, #845d3d);
  background-image: -o-linear-gradient(top, #a6754d, #845d3d);
  background-image: -ms-linear-gradient(top, #a6754d, #845d3d);
  background-image: -moz-linear-gradient(top, #a6754d, #845d3d);
  background-image: -webkit-linear-gradient(top, #a6754d, #845d3d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a6754d), color-stop(1, #845d3d));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a6754d, endColorstr=#845d3d)";
}
header.main .content,
body > .content-box {
  *zoom: 1;
  width: 1150px;
  margin: 0 auto 10px;
}
header.main .content:before,
body > .content-box:before,
header.main .content:after,
body > .content-box:after {
  content: "";
  display: table;
}
header.main .content:after,
body > .content-box:after {
  clear: both;
}
header.main .content > .action-bar,
body > .content-box > .action-bar {
  display: inline;
  float: left;
  width: 3.0303030303030303%;
  margin: 0 0.7575757575757576%;
}
header.main .content > .action-bar ul,
body > .content-box > .action-bar ul {
  padding: 0px;
  text-align: center;
}
header.main .content > .action-bar a,
body > .content-box > .action-bar a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: transparent;
  padding: 5px;
  margin: 1px 0px;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
}
header.main .content > .action-bar a.active,
body > .content-box > .action-bar a.active {
  background-color: #259eb0;
}
header.main .content > .action-bar .edit,
body > .content-box > .action-bar .edit {
  cursor: pointer;
  display: inline-block;
}
header.main .content > .action-bar .edit:before,
body > .content-box > .action-bar .edit:before {
  background-color: #515151;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main .content > .action-bar .star,
body > .content-box > .action-bar .star {
  cursor: pointer;
  display: inline-block;
}
header.main .content > .action-bar .star:before,
body > .content-box > .action-bar .star:before {
  background-color: #515151;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main .content > .action-bar .discuss,
body > .content-box > .action-bar .discuss {
  cursor: pointer;
  display: inline-block;
}
header.main .content > .action-bar .discuss:before,
body > .content-box > .action-bar .discuss:before {
  background-color: #515151;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main .content > .action-bar .history,
body > .content-box > .action-bar .history {
  cursor: pointer;
  display: inline-block;
}
header.main .content > .action-bar .history:before,
body > .content-box > .action-bar .history:before {
  background-color: #515151;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main .content > .action-bar .report,
body > .content-box > .action-bar .report {
  cursor: pointer;
  display: inline-block;
}
header.main .content > .action-bar .report:before,
body > .content-box > .action-bar .report:before {
  background-color: #515151;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main .content > .action-bar .delete,
body > .content-box > .action-bar .delete {
  cursor: pointer;
  display: inline-block;
}
header.main .content > .action-bar .delete:before,
body > .content-box > .action-bar .delete:before {
  background-color: #515151;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
header.main .content > .sidebar,
body > .content-box > .sidebar {
  display: inline;
  float: left;
  width: 21.21212121212121%;
  margin: 0 0.7575757575757576%;
  /* Little hack to force the empty sidebar width */

}
header.main .content > .sidebar:after,
body > .content-box > .sidebar:after {
  content: ".";
  color: transparent;
}
header.main .content > .main,
body > .content-box > .main {
  display: inline;
  float: left;
  width: 71.21212121212122%;
  margin: 0 0.7575757575757576%;
}
header.main .content > .main > .content,
body > .content-box > .main > .content {
  padding-left: 10px;
}
header.main .content > .main > .content h1.title,
body > .content-box > .main > .content h1.title {
  margin-top: 0px;
}
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #dceff4;
  padding: 5px;
  margin-bottom: 25px;
}
.box h1 {
  font-size: 129%;
  font-family: Calibri, "Trebuchet MS", Verdana, sans-serif;
  fornt-weight: bold;
  padding: 0px;
  margin: 5px 0px;
}
.box.map {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: solid 1px #dceff4;
  height: 150px;
}
.box.map > .placeholder {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffdb8c;
  width: 55%;
  padding: 15px;
  margin: 32.5px auto;
}
.box.map > .placeholder a:hover {
  background-color: #ffd372;
}
.box.tags {
  background-color: transparent;
}
.tags a,
a.tag {
  font-family: Consolas, Courier, monospace;
  font-size: 12px;
  color: #505050;
  background-color: transparent;
}
form.search {
  width: 350px;
  border-top: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  -moz-box-shadow: inset -1px 1px 8px -1px #dddddd;
  -webkit-box-shadow: inset -1px 1px 8px -1px #dddddd;
  box-shadow: inset -1px 1px 8px -1px #dddddd;
  background-color: #ffffff;
  color: #000000;
}
form.search input {
  border: none;
  background-color: transparent;
  height: 24px;
}
form.search input:focus {
  outline: none;
}
form.search input[type=text] {
  width: 316px;
}
form.search input[type=submit] {
  cursor: pointer;
  background-color: #515151;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent;
  background: none;
  width: 24px;
  color: transparent;
  padding: 0px;
  margin: 0px;
}
.dialog {
  display: inline;
  float: left;
  width: 62.121212121212125%;
  margin: 0 0.7575757575757576%;
  margin-right: 18.93939393939394%;
  margin-left: 18.93939393939394%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 10px 2px #999999;
  -webkit-box-shadow: 0px 0px 10px 2px #999999;
  box-shadow: 0px 0px 10px 2px #999999;
  background: #dceff4;
}
.dialog header {
  margin: 15px;
}
.dialog header h1 {
  font-size: 171%;
  font-family: Cambria, Georgia, serif;
  fornt-weight: bold;
  margin: 0px;
  text-align: center;
}
.dialog header .close {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: transparent;
  float: right;
  margin: -10px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
.dialog header .close:before {
  background-color: #515151;
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.dialog .content {
  margin: 15px;
}
