/** Forms **/

form {
    label {
        color: @label-color;
        display: block;
        margin-bottom: 5px;
    }
    label.error {
        color: @error-color;
    }
    .field-container {
        margin-bottom: 10px;
    }
    input[type=text],
    input[type=password] {
        background: white;
        box-shadow: none;
        border: 1px solid #bcbebf;
        display: block;
        width: 100%;
        height: 28px;
        padding: 4px 0 3px 4px;
        color: @label-color;
        .border-radius;

        .transition(border, 1s);
        // .transition(box-shadow, 1s);

        &:focus {
            border: 1px solid rgb(0, 156, 180);
            // .box-shadow(1px, 1px, 2px, rgb(0, 156, 180));
        }
    }
    input.error, textarea.error  {
        border: 1px solid @error-color;
        // .box-halo(1px, 1px, 1px, @error-color);

    }
    input[type=checkbox] {
        display: inline-block;
        margin-right: 10px;
        width: auto;
    }
    input[type=submit] {
    //width: 100%;
    //padding: 3px 6px;
    //border: 0;
    //border-radius: 5px;
    //font-weight: bold;
    //font-size: 120%;
    // color: #fff;
    // .gradient(vertical, #1e9c5b, darken(#1e9c5b, 15%));
    }
    .small {
        font-size: 0.9em;

    }
    small.error {
        padding: 10px;
        margin: 5px 0;
        background-color: lighten(@error-color, 30%);
        color: darken(@error-color, 20%);
        border-radius: 3px;
        width: 97%;
        display: block;

    }
    .field-container.half-box-left {
        display: inline-block;
        width: 48%;

        small.error {
            width: 94%;
        }
    }
    .field-container.half-box-right {
        width: 48%;
        float: right;

        small.error {
            width: 94%;
        }
    }
}

/* Search form */
form.search {
    .input;

    @form-width: 350px;
    @button-size: 16px;

    width: @form-width;
    overflow: hidden;

    input {
        height: @button-size;
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    input[type=text] {
        display: inline !important;
        width: (@form-width - @button-size - 20);

        &:focus {
            border: none;
        }
    }

    input[type=submit] {
        .clickable;
        .image('sprite.png', 10, 3, 16px);
        .remove-box-shadow;

        width: @button-size;
        margin: 5px;
        padding: 0px;
        color: transparent;
    }
}

/* Submit and default buttons */
input[type=submit],
button.default,
a.button.default {
    .button(@button-default-bg);
}

/* Buttons */
input[type=button],
button,
a.button {
    .button;

    /* Buttons with context */
    &.map {
        .icon('blank.png', 24px);
        .button(@map-color);
    }
    &.community,
    &.communities {
        .icon('blank.png', 24px);
        .button(@communities-color);
    }
    &.place,
    &.places {
        .icon('blank.png', 24px);
        .button(@places-color);
    }
    &.project,
    &.projects {
        .icon('blank.png', 24px);
        .button(@projects-color);
    }


    &.google {
        .icon('login-google.png', 22px);
        .button(@google-bg);
    }
    &.facebook {
        .icon('login-facebook.png', 22px);
        .button(@facebook-bg);
    }
    &.twitter {
        .icon('login-twitter.png', 22px);
        .button(@twitter-bg);
    }
    &.google, &.facebook, &.twitter {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.8em;
    }

}

form#user-info {
    label {
        color: inherit;
    }

    .field-container {

        &.name {
            label {
                display: none;
            }
            input {
                .h1-font;
                margin: -2px 0 25px -5px;
            }
        }

        &.contact {
            .collection-container {
                margin: 2px 0;

                div {
                    display: inline-block;
                }

                select, input {
                    display: inline;
                    height: auto;
                }

                input {
                    padding: 6px 4px;
                }

                select {
                    padding: 4px;
                }
            }
        }

        &.about-me {
            label {
                .h2-font;
                margin: 10px 0;
            }
            textarea {
                width: 100%;
                margin: -3px;
                font: inherit;
            }
        }
    }
}
