{% extends "global.html" %}
{% load komoo_tags %}
{% load i18n %}

{% block title %}Proposal{% endblock %}

{% block menu %} {% menu "need" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">

    <div class='form-legend'>{% trans 'Form Proposal' %}</div>

    <div class='alert alert-info required-notice' data-alert='info'>
        <a class='required-notice-close close' data-dismiss='alert'>×</a>
        <div class='msg'>
            Os campos com asterisco (<strong>*</strong>) são obrigatórios!
        </div>
    </div>
    {{ form }}
  </div>
</div>

{% endblock %}

