{% load komoo_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
    <link rel="shortcut icon" HREF="{{STATIC_URL}}img/favicon.png" />

    {% block css %}{% endblock %}

    <!-- Facebook sharing tags -->
    <!--meta property="og:title" content="title" /-->
    <meta property="og:description" content="MootiroMaps é uma ferramenta open source que promove a colaboração entre atores engajados no desenvolvimento de um território ou uma comunidade."/>
    <meta property="og:image" content="{{STATIC_URL}}img/logo.png"/>

    <!--[if lt IE 9]>
    {# Le HTML5 shim, for IE6-8 support of HTML5 elements #}
    <script src="{{STATIC_URL}}lib/html5.js"></script>
    <![endif]-->

    <title>{% block title %}Mootiro Maps{% endblock %}</title>

    <script type="text/javascript">
      var KomooNS = {{ KomooNS|to_json|safe }};
      KomooNS.data = {% if KomooNS_data %} {{ KomooNS_data|to_json|safe }};
                     {% else %} {}; {% endif %}
    </script>

  </head>
  <body>
    <!-- Site Header -->
    <div id="header-container"></div>
    <!-- /Site Header -->

    <!-- Main Block -->
    <div class="content-box">

      <!-- Action Bar -->
      <nav id="action-bar" class="action-bar">
      {% block actionbar %}
      {% endblock %}
      </nav>
      <!-- /Action Bar -->

      <!-- Content -->
      <div class="main">
        <section class="content" id="main-content">
        {% block content %}
        {% endblock %}
        </section>
      </div>
      <!-- /Content -->

      <!-- Sidebar -->
      <section id="sidebar" class="sidebar">
      {% block sidebar %}
      {% endblock %}
      </section>
      <!-- /Sidebar -->

    </div>
    <!-- /Main Block -->

    <!-- Footer -->
    <div id="footer-container"></div>
    <!-- /Footer -->

    <div id="feedback-container"></div>


    {# Loading these scripts inside body to prevent issues loading google maps #}
    <!-- RequireJS stuff -->
    <script type="text/javascript" src="{{STATIC_URL}}js/config.js"></script>
    <script type="text/javascript" data-main="app" src="{{STATIC_URL}}lib/require.js"></script>

    {% block js %}{% endblock %}

  </body>
</html>
