{% load i18n %}
{% load komoo_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {{ form.media.css }}
    <link rel="shortcut icon" HREF="{{STATIC_URL}}img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <script src="{{STATIC_URL}}lib/html5.js"></script>


    <title>{% block title %}Mootiro Maps{% endblock %}</title>

    <!-- Facebook sharing tags -->
    <!--meta property="og:title" content="title" /-->
    <meta property="og:description" content="MootiroMaps é uma ferramenta open source que promove a colaboração entre atores engajados no desenvolvimento de um território ou uma comunidade."/>
    <meta property="og:image" content="{{STATIC_URL}}img/logo.png"/>


    <!-- Django utilities -->
    <script type="text/javascript" src="{% url javascript_catalog %}"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.conf.urls.js"></script>

    <script type="text/javascript">
      var KomooNS = {{ KomooNS|jsonify|safe }};
      //OBS this is temporary and will change, we should always use KomooNS
      window.csrf_token = KomooNS.csrf_token;
    </script>

    {% block css %}{% endblock %}

  </head>
  <body>

    <!-- Site Header -->
    <div id="header-container"></div>
    <!-- /Site Header -->

    <!-- Main Block -->
    <div class="content-box">

      <!-- Action Bar -->
      <nav class="action-bar">
        <!--
        <ul>
          <li><a class="edit" href="#" title="Editar">Editar</a></li>
          <li><a class="active star" href="#" title="Adicionar estrela">Adicionar estrela</a></li>
          <li><a class="discuss" href="#" title="Discutir">Discutir</a></li>
          <li><a class="history" href="#" title="Ver histórico">Ver histórico</a></li>
          <li><a class="report" href="#" title="Denunciar">Denunciar</a></li>
          <li><a class="delete" href="#" title="Remover">Remover</a></li>
        </ul>
        -->
      </nav>
      <!-- /Action Bar -->

      <!-- Content -->
      <div class="main">
        {% block content %}
        <section class="content" id="main-content">
        </section>
        {% endblock %}
      </div>
      <!-- /Content -->

      <!-- Sidebar -->
      {% block sidebar %}
      <section class="sidebar">
      </section>
      {% endblock %}
      <!-- /Sidebar -->

    </div>
    <!-- /Main Block -->

    <!-- Footer -->
    <div id="footer-container"></div>
    <!-- /Footer -->


    {#% include "main/error_box.html" %#}

    {# Loading these scripts inside body to prevent issues loading google maps #}
    <!-- RequireJS stuffs -->
    <script type="text/javascript" src="{{STATIC_URL}}js/config.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/require.js"></script>
    <!-- Main libs -->
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>


    {% block js %}{% endblock %}


    <script type="text/javascript">
      // Loads the page specific module
      require(['common'], function () {
          require(['app'], function (app) { app.start('{{ js_module }}'); });
      });
    </script>
  </body>
</html>
