{% load i18n %}
{% load komoo_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>


    <title>{% block title %}Mootiro Maps{% endblock %}</title>

    <!-- Facebook sharing tags -->
    <!--meta property="og:title" content="title" /-->
    <meta property="og:description" content="MootiroMaps é uma ferramenta open source que promove a colaboração entre atores engajados no desenvolvimento de um território ou uma comunidade."/>
    <meta property="og:image" content="{{STATIC_URL}}img/logo.png"/>

    {{ form.media.css }}
    <link rel="shortcut icon" HREF="{{STATIC_URL}}/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fashion.css" />

    <!-- Django utilities -->
    <script type="text/javascript" src="{% url javascript_catalog %}"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.conf.urls.js"></script>

    <script type="text/javascript">
      var KomooNS = {{ KomooNS|jsonify|safe }};
      //OBS this is temporary and will change, we should always use KomooNS
      window.csrf_token = KomooNS.csrf_token;
    </script>

    {% block css %}{% endblock %}

  </head>
  <body>

    {% include 'main/upper_bar.html' %}

    <div id="root">
      <div id="top">
        <div id="logo">
          <a href="{% url root %}"><img src='{{STATIC_URL}}img/logo.png' alt='Mootiro Maps'/></a>
        </div>
        <div id="navigation">

          <form id="search" action=".">
            <input type="text" id="search-bar"/>
            <input type="submit" id="search-button" class="button" value="{% trans 'See Results' %}"/>
          </form>
          <div id="search-results-box"></div>

          {#% block menu %#}
              {#% menu "" %#}
          {#% endblock %#}

        </div>

      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
          {% include "main/footer.html" %}
        {% endblock %}
      </div>
      {#% include "main/error_box.html" %#}
    </div>

    {# Loading these scripts inside body to prevent issues loading google maps #}
    <!-- RequireJS stuffs -->
    <script type="text/javascript" src="{{STATIC_URL}}js/config.js"></script>
    <script type="text/javascript" data-main="app" src="{{STATIC_URL}}lib/require.js"></script>
    <!-- Main libs -->
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/utils.js"></script>


    {% block js %}{% endblock %}


    <script type="text/javascript" src="{{ STATIC_URL }}js/i18n.js"></script>
    <script type="text/javascript">
      // Loads the page specific module
      require(['common'], function (common) {
          require(['backbone', '{{ js_module }}'], function(Backbone) {
            Backbone.history.start();
          });
      });
    </script>
  </body>
</html>
