<section class="footer">
  <hr />
  <div>
    <h3><%= i18n('More about') %></h3>
    <ul>
      <li><a href="/about"><%= i18n('About MootiroMaps') %></a></li>
      <li><%= i18n('About Us') %></li>
      <li><%= i18n('Get Involved') %></li>
    </ul>
  </div>
  <div class="supporters">
    <h3><%= i18n('Supporters') %></h3>
    <a href="http://www.institutocea.org.br/" target="_blank"><img class="cea-logo" src="<%= KomooNS.staticUrl %>img/supporters/cea-footer.png" alt="Instituto C&amp;A" /></a>
  </div>
  <div class="license">
    <strong>Licença:</strong> Este texto é disponibilizado nos termos da licença <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">Creative Commons - Atribuição - Partilha nos Mesmos Termos 3.0 Não Adaptada</a>; pode estar sujeito a condições adicionais. Para mais detalhes, consulte as Condições de Uso.
  </div>
</section>
