{% extends 'global.html' %}
{% load i18n %}
{% load komoo_tags %}

{% block menu %} {% menu "organization" %} {% endblock %}

{% block content %}
    <div id="main-content">
        <div class="main-column">

            <div class='form-legend'>{% trans 'New Organization' %}</div>

            <div class='alert alert-info required-notice' data-alert='info'>
                <a class='required-notice-close close' data-dismiss='alert'>×</a>
                <div class='msg'>
                    Os campos com asterisco (<strong>*</strong>) são obrigatórios!
                </div>
            </div>

            {{  form_organization }}
        </div>
  </div>
{% endblock %}

{% block page_scripts %}
    {{ form_organization.media }}
{% endblock %}
