<header class="main">

  <div class="content">

    <div id="upper-bar-container"></div>

    <h1 class="logo"><a href="/" title="Página principal">MootiroMaps</a></h1>

    <nav>
      <ul>
        <li class="map"><a href="#">Mapa</a></li>
        <li class="communities"><a href="#">Comunidades</a></li>
        <li class="places has-submenu">
          <a href="#">Locais</a>
          <ul>
            <li class="needs"><a href="#">Necessidades</a></li>
            <li class="organizations"><a href="#">Organizações</a></li>
            <li class="resources"><a href="#">Recursos</a></li>
            <li class="investments"><a href="#">Investimentos</a></li>
          </ul>
        </li>
        <li class="projects"><a href="#">Projetos</a></li>
      </ul>
    </nav>

  </div>

</header>
