body {
    min-width: @min-width;
    margin: 0px;
    padding: 0px;
    font-size: @font-size;
    font-family: @sans;
    background-color: @content-bg;
}

h1 { .h1-font; }
h2 { .h2-font; }
h3 { .h3-font; }

nav > ul,
ul.nav { .nav-list; }


/** Links **/
a {
    .clickable;
    .transition();
    color: @link-fg;
    background-color: @link-bg;
    text-decoration: underline;

    &.hover,
    &:hover {
        color: @link-hover-fg;
        background-color: @link-hover-bg;
    }

    &.visited,
    &:visited {
        color: @link-visited-fg;
        background-color: @link-visited-bg;
    }
}

/* Tags */
.tags a,
a.tag {
    font-family: @mono;
    font-size: 12px;
    color: @tags-fg;
    background-color: @tags-bg;
}


/** Main content container **/
body > .content-box {
    .clearfix;
    width: @content-width;
    margin: 0 auto 10px;

    /* Left bar with icons */
    > .action-bar {
        .column(1);

        @size: 20px;

        ul {
            padding: 0px;
            text-align: center;
        }

        a {
            .border-radius();

            width: @size;
            display: block;
            height: @size;
            overflow: hidden;
            margin: 1px 0px;
            padding: 5px;
            /* Text should be invisible */
            color: transparent;

            &.active {
                background-color: @action-active-bg;
            }
        }

        /* Actions */
        .edit {
            .icon('', @size);
        }
        .star {
            .icon('', @size);
        }
        .discuss {
            .icon('', @size);
        }
        .history {
            .icon('', @size);
        }
        .report {
            .icon('', @size);
        }
        .delete {
            .icon('', @size);
        }
    }


    /** Sidebar **/
    > .sidebar {
        .column(5);

        float: left;

        > * {
            margin-bottom: 15px;
        }

        /* Little hack to force sidebar width */
        &:after {
            content: ".";
            color: transparent;
        }

        > .button {
            display: block;

        }

    }


    /** Main content **/
    > .main {
        .column(16);

        float: right;

        > .content {
            padding-left: 10px;

            h1.title {
                margin-top: 0px;
            }

            > .contact-info {
                .clearfix;

                margin: 0px;
                padding: 0px;

                > .contact {
                    .row(16);
                    .column(5, 16);
                }
            }

            > .user-info,
            > .user-updates {
                .row(16);
                .column(8, 16);
            }
        }

    }
}


/** Boxes **/
.box {
    .border-radius;

    padding: 10px;
    background-color: @box-bg;

    h1 {
        .h3-font;

        margin: 0px 0px 5px;
        padding: 0px;
    }

    /* Custom boxes */
    &.map {
        @height: 150px;

        .border-radius(0px);

        height: @height;
        border: solid 1px @main-bg;
        background-color: @map-box-bg;

        > .placeholder {
            .border-radius;

            width: 55%;
            margin: ((@height - 85) / 2) auto;
            padding: 15px;
            background: @map-placeholder-bg;

            a:hover {
                background-color: darken(@map-placeholder-bg, 10%);
            }
        }
    }

    &.tags {
        background-color: @tags-box-bg;
    }
}


/** Dialog **/
.dialog {
    .border-radius(10px);
    .box-shadow(0px, 0px, 10px, 2px);
    background: @main-bg;

    margin: 0 auto;
    display: block;
    padding: 15px;

    min-width: 300px;
    min-height: 150px;
    width: 500px;

    header {
        h1 {
            .h2-font;
            margin: 0px;
            text-align: center;
        }

        .close {
            @size: 20px;
            .clickable;
            .icon('', @size);
            display: inline-block;
            width: @size;
            height: @size;
            color: transparent;
            float: right;
            padding: 0px;
            border: none;
            overflow: hidden;
            margin: -10px;
        }
    }

}

/* Dialog modal wrapper */
.modal {
    background: @modal-bg;
    width: 100%;
    height: 100%;
    display: table;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;

    > .dialog-container {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }
}
